.button {
    margin-top: 0.4rem;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    font-family: sans-serif;
    border: none;
    border-radius: 2rem;
    background-color: #eee;
    cursor: pointer;
}
