*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app__content {
    display: flex;
    justify-content: space-between;
}
.--active {
    background-color: darkslateblue;
    color: white;
}
